name: Compile and Test all modules
run-name: Compiling and testing by ${{ github.actor }}
on: [push]
jobs:
  Compile-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Text module
        shell: bash
        run: ls 
