#This is free and unencumbered software released into the public domain.
#
#Anyone is free to copy, modify, publish, use, compile, sell, or
#distribute this software, either in source code form or as a compiled
#binary, for any purpose, commercial or non-commercial, and by any
#means.
#
#In jurisdictions that recognize copyright laws, the author or authors
#of this software dedicate any and all copyright interest in the
#software to the public domain. We make this dedication for the benefit
#of the public at large and to the detriment of our heirs and
#successors. We intend this dedication to be an overt act of
#relinquishment in perpetuity of all present and future rights to this
#software under copyright law.
#
#THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
#EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
#MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
#IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
#OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
#ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
#OTHER DEALINGS IN THE SOFTWARE.
#
#For more information, please refer to <https://unlicense.org>
#
name: Compile and Test all modules
run-name: Compiling and testing by ${{ github.actor }}
on:
  push:
    branches: [ "main" ]
jobs:
  Compile-Test-Linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Boost
        run: sudo apt install libboost-test-dev
      - name: Text module
        run: ./.github/jobs/module-test.sh text
      - name: CPU module
        run: ./.github/jobs/module-test.sh cpu
      - name: Binary module
        run: ./.github/jobs/module-test.sh binary
      - name: Geometry module
        run: ./.github/jobs/module-test.sh geometry
      - name: Files module
        run: ./.github/jobs/module-test.sh files
      - name: Math module
        run: ./.github/jobs/module-test.sh math_utils
      - name: Misc module
        run: ./.github/jobs/module-test.sh misc
      #- name: Primitives module
      #  run: ./.github/jobs/module-test.sh primitives
      - name: System module
        run: ./.github/jobs/module-test.sh system
  Compile-Test-Windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: powershell
    env:
      BOOST_ROOT: ${{ github.workspace }}\boost
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
      - name: Install Boost
        run: |
          choco install -y cmake --installargs 'ADD_CMAKE_TO_PATH=System'
          choco install -y boost-msvc-17
#      - name: Install Boost
#        uses: MarkusJx/install-boost@v2
#        id: install-boost
#        with:
#          boost_version: 1.83.0
#          boost_install_dir: ${{ github.workspace }}\boost
#          toolset: msvc
      - name: Text module
        run: powershell.exe -file .github\jobs\module-test.ps1 -name text
#      - name: CPU module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name cpu
#      - name: Binary module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name binary
#      - name: Geometry module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name geometry
#      - name: Files module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name files
#      - name: Math module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name math_utils
#      - name: Misc module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name misc
#      - name: System module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name system
#      - name: Primitives module
#        run: powershell.exe -file .github\jobs\module-test.ps1 -name primitives
