name: Compile and Test all modules
run-name: Compiling and testing by ${{ github.actor }}
on: [push]
jobs:
  Compile-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Text module
        run: |
          ls ${{ github.workspace }}
          pwd
          cd ..
          ls
