name: Compile and Test all modules
run-name: Compiling and testing by ${{ github.actor }}
on: [push]
jobs:
  Compile-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Boost
        run: sudo apt install libboost-unittest-dev
      - name: Text module
        shell: bash
        run: ./.github/jobs/module-test.sh text
      - name: CPU module
        shell: bash
        run: ./.github/jobs/module-test.sh cpu
      - name: Binary module
        shell: bash
        run: ./.github/jobs/module-test.sh binary
      - name: Geometry module
        shell: bash
        run: ./.github/jobs/module-test.sh geometry
